.content-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5% 8% 0% 5%;
  gap: 10px;
  background-color: #ffffff;
}

.text-container {
  flex: 1;
  padding: 10% 10% 10% 10%;
}

.image-container {
  flex: 1;
  display: flex;
  justify-content: center;
}

.image-container img {
  max-width: 120%;
  height: auto;
}

/* Responsividade */
@media (max-width: 768px) {
  .content-section {
    flex-direction: column;
    text-align: center;
  }
}
