.content-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5% 8% 0% 5%;
  gap: 10px;
  background-color: #FFFFFF;
}

.text-container {
  flex: 1;
  padding: 10% 10% 10% 10%;
}

.image-container {
  flex: 1;
  display: flex;
  justify-content: center;
}

.image-container img {
  max-width: 120%;
  height: auto;
}

.h2-subtitulo {
  font-size: 30px;
  color: #00376B;
}

.h2-titulo {
  font-size: 50px;
  color: #00376B;
}

/* Responsividade */
@media (max-width: 768px) {
  .content-section {
    flex-direction: column;
    text-align: center;
  }
}