<app-header></app-header>
<section class="content-section">
  <div class="text-container">
    <h2 class="h2-subtitulo">Sobre o Instituto</h2>
    <h2 class="h2-titulo">Olá, somos o Instituto AGP</h2>
    <p>Este é um pequeno texto de exemplo que pode ser substituído pelo conteúdo desejado.</p>
    <p>O Instituto AGP é uma instituição que contribui com a Gestão Pública por meio de capacitações inovadoras,
      comprometidos com a eficiência, transparência e educação de qualidade.
      <br><br>Este objetivo reflete a missão de preparar gestores públicos que possam atuar com responsabilidade, visão
      estratégica e compromisso com o bem comum.
      <br><br>Fundada em 2019, é uma empresa que preza pelo alto nível técnico de seus treinamentos e capacitações, com
      atendimento personalizado e humanizado.
    </p>
  </div>
  <div class="image-container">
    <img src="equipe.webp" alt="Imagem ilustrativa">
  </div>
</section>


<app-footer></app-footer>